body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212; /* Colore di sfondo scuro */
    color: #ffffff; /* Colore del testo bianco */
  }
  
  .container {
    background-color: #1e1e1e; /* Colore di sfondo scuro per il contenitore principale */
    color: #ffffff; /* Colore del testo bianco nel contenitore principale */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #shoppingListDiv {
    margin-top: 20px;
  }
  
  button {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .itemButton{
    margin-left: 10px;
  }
  
  .listItem{
    margin-bottom: 10px;
  }
  /* Aggiorna gli stili degli input e dei pulsanti */
  input, button {
      background-color: #333333; /* Colore di sfondo più scuro per input e pulsanti */
      color: #ffffff; /* Colore del testo bianco per input e pulsanti */
  }

  input {
    box-shadow: none;
  }



 
 /* ... (continua con altri stili secondo necessità) ... */
 